## 1. Умова задачі

Two actors who cast together the most

Given the the schema presented below find two actors who cast together the most and list titles of only those movies they were casting together. Order the result set alphabetically by the movie title.

Table film_actor
Column      | Type                        | Modifiers
------------+-----------------------------+----------
actor_id    | smallint                    | not null
film_id     | smallint                    | not null
...

Table actor
Column      | Type                        | Modifiers
------------+-----------------------------+----------
actor_id    | integer                     | not null 
first_name  | character varying(45)       | not null
last_name   | character varying(45)       | not null
...

Table film
Column      | Type                        | Modifiers
------------+-----------------------------+----------
film_id     | integer                     | not null
title       | character varying(255)      | not null
...

The desired output:
first_actor | second_actor | title
------------+--------------+--------------------
John Doe    | Jane Doe     | The Best Movie Ever
...

* first_actor - Full name (First name + Last name separated by a space)
* second_actor - Full name (First name + Last name separated by a space)
* title - Movie title

Note: actor_id of the first_actor should be lower then actor_id of the second_actor

## 2. Розв'язання

with main_actors as 
(
  select fa.actor_id as id1, sa.actor_id as id2
  from film_actor fa
    inner join film_actor sa on fa.film_id=sa.film_id
  where fa.actor_id <> sa.actor_id
  group by fa.actor_id, sa.actor_id
  order by count(fa.film_id) desc
  limit 1
)
select
(
 select first_name || ' ' || last_name 
 from actor 
 where actor_id = ma.id1
) as first_actor,
(
 select first_name || ' ' || last_name 
 from actor 
 where actor_id = ma.id2
) as second_actor,
  f.title as title
from main_actors ma
    inner join film_actor fa on ma.id1 = fa.actor_id
    inner join film_actor sa on ma.id2 = sa.actor_id
    inner join film f on fa.film_id=f.film_id and sa.film_id=f.film_id